{% extends "vocab/base_with_history_template.html" %}
{% block content %}
<script>
    var lastFocusedElement = null;

    document.addEventListener('focus', function (e) {
        if ((e.target.tagName === 'INPUT' && e.target.type === 'text') || e.target.tagName === 'TEXTAREA') {
            lastFocusedElement = e.target;
        }
    }, true); 

    // Function to insert character into the last focused text field or textarea
    function insertChar(character) {
        if (lastFocusedElement !== null) {
            // Insert character at current cursor position in input field or textarea
            const start = lastFocusedElement.selectionStart;
            const end = lastFocusedElement.selectionEnd;
            lastFocusedElement.value = lastFocusedElement.value.substring(0, start) + character + lastFocusedElement.value.substring(end);
            // Move the cursor to right after the inserted character
            lastFocusedElement.selectionStart = lastFocusedElement.selectionEnd = start + character.length;
            // Return focus to the last focused element after inserting character
            lastFocusedElement.focus();
        }
    }
</script>
<h2>Input Word and Context</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <!-- accesskey="a" doesnt work, thus, we use "e"-->
    <button type="button" accesskey="e" onclick="insertChar('ä')">ä</button>
    <button type="button" accesskey="o" onclick="insertChar('ö')">ö</button>
    <button type="button" accesskey="u" onclick="insertChar('ü')">ü</button>
    <button type="submit" accesskey="s">Submit</button>
</form>
{% endblock %}

{% block history %}
{% for translation in translations %}
<hr>
<div class="translation-entry">
    <div class="translation-key">Word:</div>
    <div class="translation-value">{{ translation.word }}</div>
    <div class="translation-key">Context:</div>
    <div class="translation-value">{{ translation.context }}</div>
</div>
<hr class="soft-hr">
<div class="translation-entry">

    <div class="translation-key">Trans-Word:</div>
    <div class="translation-value">{{ translation.translated_word }}</div>

    <div class="translation-key">Trans-Context:</div>
    <div class="translation-value">{{ translation.translated_context }}</div>

    <!-- 
    <div class="translation-key">Word Class:</div>
    <div class="translation-value">{{ translation.word_class }}</div>
    -->
</div>
{% empty %}
<p>No translations found.</p>
{% endfor %}
{% endblock %}