{% extends "vocab/base_with_history_template.html" %}
{% load static %}
{% block content %}
<h2>Input Word and Context</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <!-- accesskey="a" doesnt work, thus, we use "e"-->
    <button type="button" accesskey="e" onclick="insertChar('ä')">ä</button>
    <button type="button" accesskey="o" onclick="insertChar('ö')">ö</button>
    <button type="button" accesskey="u" onclick="insertChar('ü')">ü</button>
    <button type="submit" accesskey="s">Submit</button>
</form>
{% endblock %}

{% block history %}
<script>
    var translationsData = {{ translations|safe }};
</script>
<script src="{% static 'word_context.js' %}" defer></script>

<div id="editModal" style="display:none; position: fixed; z-index: 100; left: 0; top: 0; width: 100%; height: 100%; overflow: auto; background-color: rgba(0,0,0,0.4);">
    <div style="background-color: #fefefe; margin: 15% auto; padding: 20px; border: 1px solid #888; width: 80%;">
        <h2>Edit Translation</h2>
        <textarea id="editData" style="width: 100%; height: 200px;"></textarea>
        <button id="saveEditButton">Save</button>
        <button onclick="closeEditModal()">Close</button>
    </div>
</div>

{% for translation in translations %}
<hr>
<div class="translation-entry">
    <div class="translation-key">Word:</div>
    <div class="translation-value">{{ translation.word }}</div>
    <div class="translation-key">Context:</div>
    <div class="translation-value">{{ translation.context }}</div>
</div>
<hr class="soft-hr">
<div class="translation-entry">

    <div class="translation-key">Trans-Word:</div>
    <div class="translation-value">{{ translation.translated_word }}</div>

    <div class="translation-key">Trans-Context:</div>
    <div class="translation-value">{{ translation.translated_context }}</div>

    {% if translation.notes %}
    <div class="translation-key">Notes:</div>
    <div class="translation-value">{{ translation.notes }}</div>
    {% endif %}
    <!-- 
    <div class="translation-key">Word Class:</div>
    <div class="translation-value">{{ translation.word_class }}</div>
    -->
    <button class="edit-btn" data-translation-id="{{ translation.translation_id }}">Edit</button>
</div>
{% empty %}
<p>No translations found.</p>
{% endfor %}
{% endblock %}